@import "_nullstyle";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(108, 39, 117);
  }
  &__body {
    position: relative;
    //z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    @media (max-width: 767px) {
      height: 50px;
    }
  }
  &__logo {
    z-index: 3;
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    img {
      max-width: 100%;
      display: block;
    }
    @media (max-width: 767px) {
      flex: 0 0 40px;
    }
  }
  &__burger {
    z-index: 3;
    display: none;
    @media (max-width: 767px) {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      span:first-child {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 0;
        transition: all 0.3s ease 0s;
      }
      span:nth-child(2) {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
      span:last-child {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        bottom: 0;
        transition: all 0.3s ease 0s;
      }
    }
  }
  &__menu {
    @media (max-width: 767px) {
      overflow: auto;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(80, 187, 137);
      padding-top: 70px;
      transition: all 0.3s ease 0s;
    }
  }
  &__list {
    display: flex;
    position: relative;
    z-index: 2;
    li {
      list-style: none;
      margin-left: 20px;
    }
    @media (max-width: 767px) {
      display: block;
      li {
        margin: 0 0 20px 10px;
      }
    }
  }
  &__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
  }
}

.active {
  top: 0;
  span:first-child {
    transform: rotate(45deg);
    top: 9px;
  }
  span:nth-child(2) {
    transform: scale(0);
  }
  span:last-child {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}

body {
  &.lock {
    @media (max-width: 767px) {
      overflow: hidden;
    }
  }
}

.conteiner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.content {
  @media (max-width: 767px) {
    padding-top: 70px;
  }
  padding-top: 100px;
  &__text {
    font-size: 18px;
    line-height: 25px;
    p {
      margin-bottom: 20px;
    }
  }
}
