@import "_nullstyle";
@import "_header";

.content {
  @media (max-width: 767px) {
    padding-top: 70px;
  }
  padding-top: 100px;
  &__text {
    font-size: 18px;
    line-height: 25px;
    p {
      margin-bottom: 20px;
    }
  }
}
